@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --inevap-primary: #2B5299;
  --inevap-secondary: #00ADEF;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
  background-color: #f8fafc;
  margin: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
